<%- model_class = Intermediate -%>
<div class="page-header">
  <h1><%=t '.title', :default => Intermediate %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:workorganization) %></th>
      <th><%= model_class.human_attribute_name(:cmt1) %></th>
      <th><%= model_class.human_attribute_name(:followupsystem) %></th>
      <th><%= model_class.human_attribute_name(:cmt2) %></th>
      <th><%= model_class.human_attribute_name(:measuringprogram) %></th>
      <th><%= model_class.human_attribute_name(:cmt3) %></th>
      <th><%= model_class.human_attribute_name(:quailtyculture) %></th>
      <th><%= model_class.human_attribute_name(:cmt4) %></th>
      <th><%= model_class.human_attribute_name(:messegesystem) %></th>
      <th><%= model_class.human_attribute_name(:cmt5) %></th>
      <th><%= model_class.human_attribute_name(:studentshonoring) %></th>
      <th><%= model_class.human_attribute_name(:cmt6) %></th>
      <th><%= model_class.human_attribute_name(:teachershonoring) %></th>
      <th><%= model_class.human_attribute_name(:cmt7) %></th>
      <th><%= model_class.human_attribute_name(:schoolboard) %></th>
      <th><%= model_class.human_attribute_name(:cmt8) %></th>
      <th><%= model_class.human_attribute_name(:selfevaluation) %></th>
      <th><%= model_class.human_attribute_name(:cmt9) %></th>
      <th><%= model_class.human_attribute_name(:schoolapplying) %></th>
      <th><%= model_class.human_attribute_name(:cmt10) %></th>
      <th><%= model_class.human_attribute_name(:oneteamspirit) %></th>
      <th><%= model_class.human_attribute_name(:cmt11) %></th>
      <th><%= model_class.human_attribute_name(:otherschooltwin) %></th>
      <th><%= model_class.human_attribute_name(:cmt12) %></th>
      <th><%= model_class.human_attribute_name(:requiredworkcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt13) %></th>
      <th><%= model_class.human_attribute_name(:noorprogramcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt14) %></th>
      <th><%= model_class.human_attribute_name(:takamolcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt15) %></th>
      <th><%= model_class.human_attribute_name(:schoolweb) %></th>
      <th><%= model_class.human_attribute_name(:cmt16) %></th>
      <th><%= model_class.human_attribute_name(:classenvironment) %></th>
      <th><%= model_class.human_attribute_name(:cmt17) %></th>
      <th><%= model_class.human_attribute_name(:schoolfacilities) %></th>
      <th><%= model_class.human_attribute_name(:cmt18) %></th>
      <th><%= model_class.human_attribute_name(:schoolcafeteria) %></th>
      <th><%= model_class.human_attribute_name(:cmt19) %></th>
      <th><%= model_class.human_attribute_name(:healthpromoting) %></th>
      <th><%= model_class.human_attribute_name(:cmt20) %></th>
      <th><%= model_class.human_attribute_name(:walltexting) %></th>
      <th><%= model_class.human_attribute_name(:cmt21) %></th>
      <th><%= model_class.human_attribute_name(:schoolactivities) %></th>
      <th><%= model_class.human_attribute_name(:cmt22) %></th>
      <th><%= model_class.human_attribute_name(:islamicawareness) %></th>
      <th><%= model_class.human_attribute_name(:cmt23) %></th>
      <th><%= model_class.human_attribute_name(:proceduralplan) %></th>
      <th><%= model_class.human_attribute_name(:cmt24) %></th>
      <th><%= model_class.human_attribute_name(:proceduralsystemic) %></th>
      <th><%= model_class.human_attribute_name(:cmt25) %></th>
      <th><%= model_class.human_attribute_name(:proceduralsystemic2) %></th>
      <th><%= model_class.human_attribute_name(:cmt26) %></th>
      <th><%= model_class.human_attribute_name(:teacherinout) %></th>
      <th><%= model_class.human_attribute_name(:cmt27) %></th>
      <th><%= model_class.human_attribute_name(:waitingclasses) %></th>
      <th><%= model_class.human_attribute_name(:cmt28) %></th>
      <th><%= model_class.human_attribute_name(:morningsupervision) %></th>
      <th><%= model_class.human_attribute_name(:cmt29) %></th>
      <th><%= model_class.human_attribute_name(:schooltable) %></th>
      <th><%= model_class.human_attribute_name(:cmt30) %></th>
      <th><%= model_class.human_attribute_name(:attendancepercentage) %></th>
      <th><%= model_class.human_attribute_name(:cmt31) %></th>
      <th><%= model_class.human_attribute_name(:writtenpreparation) %></th>
      <th><%= model_class.human_attribute_name(:cmt32) %></th>
      <th><%= model_class.human_attribute_name(:ratingrecords) %></th>
      <th><%= model_class.human_attribute_name(:cmt33) %></th>
      <th><%= model_class.human_attribute_name(:activitiesbook) %></th>
      <th><%= model_class.human_attribute_name(:cmt34) %></th>
      <th><%= model_class.human_attribute_name(:editorialbusiness) %></th>
      <th><%= model_class.human_attribute_name(:cmt35) %></th>
      <th><%= model_class.human_attribute_name(:visitingteachers) %></th>
      <th><%= model_class.human_attribute_name(:cmt36) %></th>
      <th><%= model_class.human_attribute_name(:teachingaidsusage) %></th>
      <th><%= model_class.human_attribute_name(:cmt37) %></th>
      <th><%= model_class.human_attribute_name(:commissionguidance) %></th>
      <th><%= model_class.human_attribute_name(:cmt38) %></th>
      <th><%= model_class.human_attribute_name(:enrichmentprogram) %></th>
      <th><%= model_class.human_attribute_name(:cmt39) %></th>
      <th><%= model_class.human_attribute_name(:schoolplan) %></th>
      <th><%= model_class.human_attribute_name(:cmt40) %></th>
      <th><%= model_class.human_attribute_name(:trainingprograms) %></th>
      <th><%= model_class.human_attribute_name(:cmt41) %></th>
      <th><%= model_class.human_attribute_name(:techemploying) %></th>
      <th><%= model_class.human_attribute_name(:cmt42) %></th>
      <th><%= model_class.human_attribute_name(:richmentprogramdev) %></th>
      <th><%= model_class.human_attribute_name(:cmt43) %></th>
      <th><%= model_class.human_attribute_name(:teachingnewstrategy) %></th>
      <th><%= model_class.human_attribute_name(:cmt44) %></th>
      <th><%= model_class.human_attribute_name(:learningresource) %></th>
      <th><%= model_class.human_attribute_name(:cmt45) %></th>
      <th><%= model_class.human_attribute_name(:headmasterpermission) %></th>
      <th><%= model_class.human_attribute_name(:cmt46) %></th>
      <th><%= model_class.human_attribute_name(:creativeapproaches) %></th>
      <th><%= model_class.human_attribute_name(:cmt47) %></th>
      <th><%= model_class.human_attribute_name(:schoolinitiative) %></th>
      <th><%= model_class.human_attribute_name(:cmt48) %></th>
      <th><%= model_class.human_attribute_name(:achievementfile) %></th>
      <th><%= model_class.human_attribute_name(:cmt49) %></th>
      <th><%= model_class.human_attribute_name(:examssystems) %></th>
      <th><%= model_class.human_attribute_name(:cmt50) %></th>
      <th><%= model_class.human_attribute_name(:achievementexams) %></th>
      <th><%= model_class.human_attribute_name(:cmt51) %></th>
      <th><%= model_class.human_attribute_name(:studentsinawards) %></th>
      <th><%= model_class.human_attribute_name(:cmt52) %></th>
      <th><%= model_class.human_attribute_name(:studentsoutawards) %></th>
      <th><%= model_class.human_attribute_name(:cmt53) %></th>
      <th><%= model_class.human_attribute_name(:safetycoordinator) %></th>
      <th><%= model_class.human_attribute_name(:cmt54) %></th>
      <th><%= model_class.human_attribute_name(:teachertraining) %></th>
      <th><%= model_class.human_attribute_name(:cmt55) %></th>
      <th><%= model_class.human_attribute_name(:buildingsafety) %></th>
      <th><%= model_class.human_attribute_name(:cmt56) %></th>
      <th><%= model_class.human_attribute_name(:evacuationexperment) %></th>
      <th><%= model_class.human_attribute_name(:cmt57) %></th>
      <th><%= model_class.human_attribute_name(:fireextinguishers) %></th>
      <th><%= model_class.human_attribute_name(:cmt58) %></th>
      <th><%= model_class.human_attribute_name(:emergencyexit) %></th>
      <th><%= model_class.human_attribute_name(:cmt59) %></th>
      <th><%= model_class.human_attribute_name(:alarm) %></th>
      <th><%= model_class.human_attribute_name(:cmt60) %></th>
      <th><%= model_class.human_attribute_name(:safetymethods) %></th>
      <th><%= model_class.human_attribute_name(:cmt61) %></th>
      <th><%= model_class.human_attribute_name(:sum) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @intermediates.each do |intermediate| %>
      <tr>
        <td><%= intermediate.id %></td>
        <td><%= intermediate.workorganization %></td>
        <td><%= intermediate.cmt1 %></td>
        <td><%= intermediate.followupsystem %></td>
        <td><%= intermediate.cmt2 %></td>
        <td><%= intermediate.measuringprogram %></td>
        <td><%= intermediate.cmt3 %></td>
        <td><%= intermediate.quailtyculture %></td>
        <td><%= intermediate.cmt4 %></td>
        <td><%= intermediate.messegesystem %></td>
        <td><%= intermediate.cmt5 %></td>
        <td><%= intermediate.studentshonoring %></td>
        <td><%= intermediate.cmt6 %></td>
        <td><%= intermediate.teachershonoring %></td>
        <td><%= intermediate.cmt7 %></td>
        <td><%= intermediate.schoolboard %></td>
        <td><%= intermediate.cmt8 %></td>
        <td><%= intermediate.selfevaluation %></td>
        <td><%= intermediate.cmt9 %></td>
        <td><%= intermediate.schoolapplying %></td>
        <td><%= intermediate.cmt10 %></td>
        <td><%= intermediate.oneteamspirit %></td>
        <td><%= intermediate.cmt11 %></td>
        <td><%= intermediate.otherschooltwin %></td>
        <td><%= intermediate.cmt12 %></td>
        <td><%= intermediate.requiredworkcompletion %></td>
        <td><%= intermediate.cmt13 %></td>
        <td><%= intermediate.noorprogramcompletion %></td>
        <td><%= intermediate.cmt14 %></td>
        <td><%= intermediate.takamolcompletion %></td>
        <td><%= intermediate.cmt15 %></td>
        <td><%= intermediate.schoolweb %></td>
        <td><%= intermediate.cmt16 %></td>
        <td><%= intermediate.classenvironment %></td>
        <td><%= intermediate.cmt17 %></td>
        <td><%= intermediate.schoolfacilities %></td>
        <td><%= intermediate.cmt18 %></td>
        <td><%= intermediate.schoolcafeteria %></td>
        <td><%= intermediate.cmt19 %></td>
        <td><%= intermediate.healthpromoting %></td>
        <td><%= intermediate.cmt20 %></td>
        <td><%= intermediate.walltexting %></td>
        <td><%= intermediate.cmt21 %></td>
        <td><%= intermediate.schoolactivities %></td>
        <td><%= intermediate.cmt22 %></td>
        <td><%= intermediate.islamicawareness %></td>
        <td><%= intermediate.cmt23 %></td>
        <td><%= intermediate.proceduralplan %></td>
        <td><%= intermediate.cmt24 %></td>
        <td><%= intermediate.proceduralsystemic %></td>
        <td><%= intermediate.cmt25 %></td>
        <td><%= intermediate.proceduralsystemic2 %></td>
        <td><%= intermediate.cmt26 %></td>
        <td><%= intermediate.teacherinout %></td>
        <td><%= intermediate.cmt27 %></td>
        <td><%= intermediate.waitingclasses %></td>
        <td><%= intermediate.cmt28 %></td>
        <td><%= intermediate.morningsupervision %></td>
        <td><%= intermediate.cmt29 %></td>
        <td><%= intermediate.schooltable %></td>
        <td><%= intermediate.cmt30 %></td>
        <td><%= intermediate.attendancepercentage %></td>
        <td><%= intermediate.cmt31 %></td>
        <td><%= intermediate.writtenpreparation %></td>
        <td><%= intermediate.cmt32 %></td>
        <td><%= intermediate.ratingrecords %></td>
        <td><%= intermediate.cmt33 %></td>
        <td><%= intermediate.activitiesbook %></td>
        <td><%= intermediate.cmt34 %></td>
        <td><%= intermediate.editorialbusiness %></td>
        <td><%= intermediate.cmt35 %></td>
        <td><%= intermediate.visitingteachers %></td>
        <td><%= intermediate.cmt36 %></td>
        <td><%= intermediate.teachingaidsusage %></td>
        <td><%= intermediate.cmt37 %></td>
        <td><%= intermediate.commissionguidance %></td>
        <td><%= intermediate.cmt38 %></td>
        <td><%= intermediate.enrichmentprogram %></td>
        <td><%= intermediate.cmt39 %></td>
        <td><%= intermediate.schoolplan %></td>
        <td><%= intermediate.cmt40 %></td>
        <td><%= intermediate.trainingprograms %></td>
        <td><%= intermediate.cmt41 %></td>
        <td><%= intermediate.techemploying %></td>
        <td><%= intermediate.cmt42 %></td>
        <td><%= intermediate.richmentprogramdev %></td>
        <td><%= intermediate.cmt43 %></td>
        <td><%= intermediate.teachingnewstrategy %></td>
        <td><%= intermediate.cmt44 %></td>
        <td><%= intermediate.learningresource %></td>
        <td><%= intermediate.cmt45 %></td>
        <td><%= intermediate.headmasterpermission %></td>
        <td><%= intermediate.cmt46 %></td>
        <td><%= intermediate.creativeapproaches %></td>
        <td><%= intermediate.cmt47 %></td>
        <td><%= intermediate.schoolinitiative %></td>
        <td><%= intermediate.cmt48 %></td>
        <td><%= intermediate.achievementfile %></td>
        <td><%= intermediate.cmt49 %></td>
        <td><%= intermediate.examssystems %></td>
        <td><%= intermediate.cmt50 %></td>
        <td><%= intermediate.achievementexams %></td>
        <td><%= intermediate.cmt51 %></td>
        <td><%= intermediate.studentsinawards %></td>
        <td><%= intermediate.cmt52 %></td>
        <td><%= intermediate.studentsoutawards %></td>
        <td><%= intermediate.cmt53 %></td>
        <td><%= intermediate.safetycoordinator %></td>
        <td><%= intermediate.cmt54 %></td>
        <td><%= intermediate.teachertraining %></td>
        <td><%= intermediate.cmt55 %></td>
        <td><%= intermediate.buildingsafety %></td>
        <td><%= intermediate.cmt56 %></td>
        <td><%= intermediate.evacuationexperment %></td>
        <td><%= intermediate.cmt57 %></td>
        <td><%= intermediate.fireextinguishers %></td>
        <td><%= intermediate.cmt58 %></td>
        <td><%= intermediate.emergencyexit %></td>
        <td><%= intermediate.cmt59 %></td>
        <td><%= intermediate.alarm %></td>
        <td><%= intermediate.cmt60 %></td>
        <td><%= intermediate.safetymethods %></td>
        <td><%= intermediate.cmt61 %></td>
        <td><%= intermediate.sum %></td>
        <td><%=l intermediate.created_at, format: :long %></td>
        <td>
          <%= link_to intermediate_path(intermediate), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to intermediate_path(intermediate), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_intermediate_path,
            :class => 'btn btn-primary' %>
