<h1>Listing intermediates</h1>

<table>
  <thead>
    <tr>
      <th>Workorganization</th>
      <th>Cmt1</th>
      <th>Followupsystem</th>
      <th>Cmt2</th>
      <th>Measuringprogram</th>
      <th>Cmt3</th>
      <th>Quailtyculture</th>
      <th>Cmt4</th>
      <th>Messegesystem</th>
      <th>Cmt5</th>
      <th>Studentshonoring</th>
      <th>Cmt6</th>
      <th>Teachershonoring</th>
      <th>Cmt7</th>
      <th>Schoolboard</th>
      <th>Cmt8</th>
      <th>Selfevaluation</th>
      <th>Cmt9</th>
      <th>Schoolapplying</th>
      <th>Cmt10</th>
      <th>Oneteamspirit</th>
      <th>Cmt11</th>
      <th>Otherschooltwin</th>
      <th>Cmt12</th>
      <th>Requiredworkcompletion</th>
      <th>Cmt13</th>
      <th>Noorprogramcompletion</th>
      <th>Cmt14</th>
      <th>Takamolcompletion</th>
      <th>Cmt15</th>
      <th>Schoolweb</th>
      <th>Cmt16</th>
      <th>Classenvironment</th>
      <th>Cmt17</th>
      <th>Schoolfacilities</th>
      <th>Cmt18</th>
      <th>Schoolcafeteria</th>
      <th>Cmt19</th>
      <th>Healthpromoting</th>
      <th>Cmt20</th>
      <th>Walltexting</th>
      <th>Cmt21</th>
      <th>Schoolactivities</th>
      <th>Cmt22</th>
      <th>Islamicawareness</th>
      <th>Cmt23</th>
      <th>Proceduralplan</th>
      <th>Cmt24</th>
      <th>Proceduralsystemic</th>
      <th>Cmt25</th>
      <th>Proceduralsystemic2</th>
      <th>Cmt26</th>
      <th>Teacherinout</th>
      <th>Cmt27</th>
      <th>Waitingclasses</th>
      <th>Cmt28</th>
      <th>Morningsupervision</th>
      <th>Cmt29</th>
      <th>Schooltable</th>
      <th>Cmt30</th>
      <th>Attendancepercentage</th>
      <th>Cmt31</th>
      <th>Writtenpreparation</th>
      <th>Cmt32</th>
      <th>Ratingrecords</th>
      <th>Cmt33</th>
      <th>Activitiesbook</th>
      <th>Cmt34</th>
      <th>Editorialbusiness</th>
      <th>Cmt35</th>
      <th>Visitingteachers</th>
      <th>Cmt36</th>
      <th>Teachingaidsusage</th>
      <th>Cmt37</th>
      <th>Commissionguidance</th>
      <th>Cmt38</th>
      <th>Enrichmentprogram</th>
      <th>Cmt39</th>
      <th>Schoolplan</th>
      <th>Cmt40</th>
      <th>Trainingprograms</th>
      <th>Cmt41</th>
      <th>Techemploying</th>
      <th>Cmt42</th>
      <th>Richmentprogramdev</th>
      <th>Cmt43</th>
      <th>Teachingnewstrategy</th>
      <th>Cmt44</th>
      <th>Learningresource</th>
      <th>Cmt45</th>
      <th>Headmasterpermission</th>
      <th>Cmt46</th>
      <th>Creativeapproaches</th>
      <th>Cmt47</th>
      <th>Schoolinitiative</th>
      <th>Cmt48</th>
      <th>Achievementfile</th>
      <th>Cmt49</th>
      <th>Examssystems</th>
      <th>Cmt50</th>
      <th>Achievementexams</th>
      <th>Cmt51</th>
      <th>Studentsinawards</th>
      <th>Cmt52</th>
      <th>Studentsoutawards</th>
      <th>Cmt53</th>
      <th>Safetycoordinator</th>
      <th>Cmt54</th>
      <th>Teachertraining</th>
      <th>Cmt55</th>
      <th>Buildingsafety</th>
      <th>Cmt56</th>
      <th>Evacuationexperment</th>
      <th>Cmt57</th>
      <th>Fireextinguishers</th>
      <th>Cmt58</th>
      <th>Emergencyexit</th>
      <th>Cmt59</th>
      <th>Alarm</th>
      <th>Cmt60</th>
      <th>Safetymethods</th>
      <th>Cmt61</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intermediates.each do |intermediate| %>
      <tr>
        <td><%= intermediate.workorganization %></td>
        <td><%= intermediate.cmt1 %></td>
        <td><%= intermediate.followupsystem %></td>
        <td><%= intermediate.cmt2 %></td>
        <td><%= intermediate.measuringprogram %></td>
        <td><%= intermediate.cmt3 %></td>
        <td><%= intermediate.quailtyculture %></td>
        <td><%= intermediate.cmt4 %></td>
        <td><%= intermediate.messegesystem %></td>
        <td><%= intermediate.cmt5 %></td>
        <td><%= intermediate.studentshonoring %></td>
        <td><%= intermediate.cmt6 %></td>
        <td><%= intermediate.teachershonoring %></td>
        <td><%= intermediate.cmt7 %></td>
        <td><%= intermediate.schoolboard %></td>
        <td><%= intermediate.cmt8 %></td>
        <td><%= intermediate.selfevaluation %></td>
        <td><%= intermediate.cmt9 %></td>
        <td><%= intermediate.schoolapplying %></td>
        <td><%= intermediate.cmt10 %></td>
        <td><%= intermediate.oneteamspirit %></td>
        <td><%= intermediate.cmt11 %></td>
        <td><%= intermediate.otherschooltwin %></td>
        <td><%= intermediate.cmt12 %></td>
        <td><%= intermediate.requiredworkcompletion %></td>
        <td><%= intermediate.cmt13 %></td>
        <td><%= intermediate.noorprogramcompletion %></td>
        <td><%= intermediate.cmt14 %></td>
        <td><%= intermediate.takamolcompletion %></td>
        <td><%= intermediate.cmt15 %></td>
        <td><%= intermediate.schoolweb %></td>
        <td><%= intermediate.cmt16 %></td>
        <td><%= intermediate.classenvironment %></td>
        <td><%= intermediate.cmt17 %></td>
        <td><%= intermediate.schoolfacilities %></td>
        <td><%= intermediate.cmt18 %></td>
        <td><%= intermediate.schoolcafeteria %></td>
        <td><%= intermediate.cmt19 %></td>
        <td><%= intermediate.healthpromoting %></td>
        <td><%= intermediate.cmt20 %></td>
        <td><%= intermediate.walltexting %></td>
        <td><%= intermediate.cmt21 %></td>
        <td><%= intermediate.schoolactivities %></td>
        <td><%= intermediate.cmt22 %></td>
        <td><%= intermediate.islamicawareness %></td>
        <td><%= intermediate.cmt23 %></td>
        <td><%= intermediate.proceduralplan %></td>
        <td><%= intermediate.cmt24 %></td>
        <td><%= intermediate.proceduralsystemic %></td>
        <td><%= intermediate.cmt25 %></td>
        <td><%= intermediate.proceduralsystemic2 %></td>
        <td><%= intermediate.cmt26 %></td>
        <td><%= intermediate.teacherinout %></td>
        <td><%= intermediate.cmt27 %></td>
        <td><%= intermediate.waitingclasses %></td>
        <td><%= intermediate.cmt28 %></td>
        <td><%= intermediate.morningsupervision %></td>
        <td><%= intermediate.cmt29 %></td>
        <td><%= intermediate.schooltable %></td>
        <td><%= intermediate.cmt30 %></td>
        <td><%= intermediate.attendancepercentage %></td>
        <td><%= intermediate.cmt31 %></td>
        <td><%= intermediate.writtenpreparation %></td>
        <td><%= intermediate.cmt32 %></td>
        <td><%= intermediate.ratingrecords %></td>
        <td><%= intermediate.cmt33 %></td>
        <td><%= intermediate.activitiesbook %></td>
        <td><%= intermediate.cmt34 %></td>
        <td><%= intermediate.editorialbusiness %></td>
        <td><%= intermediate.cmt35 %></td>
        <td><%= intermediate.visitingteachers %></td>
        <td><%= intermediate.cmt36 %></td>
        <td><%= intermediate.teachingaidsusage %></td>
        <td><%= intermediate.cmt37 %></td>
        <td><%= intermediate.commissionguidance %></td>
        <td><%= intermediate.cmt38 %></td>
        <td><%= intermediate.enrichmentprogram %></td>
        <td><%= intermediate.cmt39 %></td>
        <td><%= intermediate.schoolplan %></td>
        <td><%= intermediate.cmt40 %></td>
        <td><%= intermediate.trainingprograms %></td>
        <td><%= intermediate.cmt41 %></td>
        <td><%= intermediate.techemploying %></td>
        <td><%= intermediate.cmt42 %></td>
        <td><%= intermediate.richmentprogramdev %></td>
        <td><%= intermediate.cmt43 %></td>
        <td><%= intermediate.teachingnewstrategy %></td>
        <td><%= intermediate.cmt44 %></td>
        <td><%= intermediate.learningresource %></td>
        <td><%= intermediate.cmt45 %></td>
        <td><%= intermediate.headmasterpermission %></td>
        <td><%= intermediate.cmt46 %></td>
        <td><%= intermediate.creativeapproaches %></td>
        <td><%= intermediate.cmt47 %></td>
        <td><%= intermediate.schoolinitiative %></td>
        <td><%= intermediate.cmt48 %></td>
        <td><%= intermediate.achievementfile %></td>
        <td><%= intermediate.cmt49 %></td>
        <td><%= intermediate.examssystems %></td>
        <td><%= intermediate.cmt50 %></td>
        <td><%= intermediate.achievementexams %></td>
        <td><%= intermediate.cmt51 %></td>
        <td><%= intermediate.studentsinawards %></td>
        <td><%= intermediate.cmt52 %></td>
        <td><%= intermediate.studentsoutawards %></td>
        <td><%= intermediate.cmt53 %></td>
        <td><%= intermediate.safetycoordinator %></td>
        <td><%= intermediate.cmt54 %></td>
        <td><%= intermediate.teachertraining %></td>
        <td><%= intermediate.cmt55 %></td>
        <td><%= intermediate.buildingsafety %></td>
        <td><%= intermediate.cmt56 %></td>
        <td><%= intermediate.evacuationexperment %></td>
        <td><%= intermediate.cmt57 %></td>
        <td><%= intermediate.fireextinguishers %></td>
        <td><%= intermediate.cmt58 %></td>
        <td><%= intermediate.emergencyexit %></td>
        <td><%= intermediate.cmt59 %></td>
        <td><%= intermediate.alarm %></td>
        <td><%= intermediate.cmt60 %></td>
        <td><%= intermediate.safetymethods %></td>
        <td><%= intermediate.cmt61 %></td>
        <td><%= intermediate.sum %></td>
        <td><%= link_to 'Show', intermediate %></td>
        <td><%= link_to 'Edit', edit_intermediate_path(intermediate) %></td>
        <td><%= link_to 'Destroy', intermediate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intermediate', new_intermediate_path %>
