<p id="notice"><%= notice %></p>

<p>
  <strong>Workorganization:</strong>
  <%= @intermediate.workorganization %>
</p>

<p>
  <strong>Cmt1:</strong>
  <%= @intermediate.cmt1 %>
</p>

<p>
  <strong>Followupsystem:</strong>
  <%= @intermediate.followupsystem %>
</p>

<p>
  <strong>Cmt2:</strong>
  <%= @intermediate.cmt2 %>
</p>

<p>
  <strong>Measuringprogram:</strong>
  <%= @intermediate.measuringprogram %>
</p>

<p>
  <strong>Cmt3:</strong>
  <%= @intermediate.cmt3 %>
</p>

<p>
  <strong>Quailtyculture:</strong>
  <%= @intermediate.quailtyculture %>
</p>

<p>
  <strong>Cmt4:</strong>
  <%= @intermediate.cmt4 %>
</p>

<p>
  <strong>Messegesystem:</strong>
  <%= @intermediate.messegesystem %>
</p>

<p>
  <strong>Cmt5:</strong>
  <%= @intermediate.cmt5 %>
</p>

<p>
  <strong>Studentshonoring:</strong>
  <%= @intermediate.studentshonoring %>
</p>

<p>
  <strong>Cmt6:</strong>
  <%= @intermediate.cmt6 %>
</p>

<p>
  <strong>Teachershonoring:</strong>
  <%= @intermediate.teachershonoring %>
</p>

<p>
  <strong>Cmt7:</strong>
  <%= @intermediate.cmt7 %>
</p>

<p>
  <strong>Schoolboard:</strong>
  <%= @intermediate.schoolboard %>
</p>

<p>
  <strong>Cmt8:</strong>
  <%= @intermediate.cmt8 %>
</p>

<p>
  <strong>Selfevaluation:</strong>
  <%= @intermediate.selfevaluation %>
</p>

<p>
  <strong>Cmt9:</strong>
  <%= @intermediate.cmt9 %>
</p>

<p>
  <strong>Schoolapplying:</strong>
  <%= @intermediate.schoolapplying %>
</p>

<p>
  <strong>Cmt10:</strong>
  <%= @intermediate.cmt10 %>
</p>

<p>
  <strong>Oneteamspirit:</strong>
  <%= @intermediate.oneteamspirit %>
</p>

<p>
  <strong>Cmt11:</strong>
  <%= @intermediate.cmt11 %>
</p>

<p>
  <strong>Otherschooltwin:</strong>
  <%= @intermediate.otherschooltwin %>
</p>

<p>
  <strong>Cmt12:</strong>
  <%= @intermediate.cmt12 %>
</p>

<p>
  <strong>Requiredworkcompletion:</strong>
  <%= @intermediate.requiredworkcompletion %>
</p>

<p>
  <strong>Cmt13:</strong>
  <%= @intermediate.cmt13 %>
</p>

<p>
  <strong>Noorprogramcompletion:</strong>
  <%= @intermediate.noorprogramcompletion %>
</p>

<p>
  <strong>Cmt14:</strong>
  <%= @intermediate.cmt14 %>
</p>

<p>
  <strong>Takamolcompletion:</strong>
  <%= @intermediate.takamolcompletion %>
</p>

<p>
  <strong>Cmt15:</strong>
  <%= @intermediate.cmt15 %>
</p>

<p>
  <strong>Schoolweb:</strong>
  <%= @intermediate.schoolweb %>
</p>

<p>
  <strong>Cmt16:</strong>
  <%= @intermediate.cmt16 %>
</p>

<p>
  <strong>Classenvironment:</strong>
  <%= @intermediate.classenvironment %>
</p>

<p>
  <strong>Cmt17:</strong>
  <%= @intermediate.cmt17 %>
</p>

<p>
  <strong>Schoolfacilities:</strong>
  <%= @intermediate.schoolfacilities %>
</p>

<p>
  <strong>Cmt18:</strong>
  <%= @intermediate.cmt18 %>
</p>

<p>
  <strong>Schoolcafeteria:</strong>
  <%= @intermediate.schoolcafeteria %>
</p>

<p>
  <strong>Cmt19:</strong>
  <%= @intermediate.cmt19 %>
</p>

<p>
  <strong>Healthpromoting:</strong>
  <%= @intermediate.healthpromoting %>
</p>

<p>
  <strong>Cmt20:</strong>
  <%= @intermediate.cmt20 %>
</p>

<p>
  <strong>Walltexting:</strong>
  <%= @intermediate.walltexting %>
</p>

<p>
  <strong>Cmt21:</strong>
  <%= @intermediate.cmt21 %>
</p>

<p>
  <strong>Schoolactivities:</strong>
  <%= @intermediate.schoolactivities %>
</p>

<p>
  <strong>Cmt22:</strong>
  <%= @intermediate.cmt22 %>
</p>

<p>
  <strong>Islamicawareness:</strong>
  <%= @intermediate.islamicawareness %>
</p>

<p>
  <strong>Cmt23:</strong>
  <%= @intermediate.cmt23 %>
</p>

<p>
  <strong>Proceduralplan:</strong>
  <%= @intermediate.proceduralplan %>
</p>

<p>
  <strong>Cmt24:</strong>
  <%= @intermediate.cmt24 %>
</p>

<p>
  <strong>Proceduralsystemic:</strong>
  <%= @intermediate.proceduralsystemic %>
</p>

<p>
  <strong>Cmt25:</strong>
  <%= @intermediate.cmt25 %>
</p>

<p>
  <strong>Proceduralsystemic2:</strong>
  <%= @intermediate.proceduralsystemic2 %>
</p>

<p>
  <strong>Cmt26:</strong>
  <%= @intermediate.cmt26 %>
</p>

<p>
  <strong>Teacherinout:</strong>
  <%= @intermediate.teacherinout %>
</p>

<p>
  <strong>Cmt27:</strong>
  <%= @intermediate.cmt27 %>
</p>

<p>
  <strong>Waitingclasses:</strong>
  <%= @intermediate.waitingclasses %>
</p>

<p>
  <strong>Cmt28:</strong>
  <%= @intermediate.cmt28 %>
</p>

<p>
  <strong>Morningsupervision:</strong>
  <%= @intermediate.morningsupervision %>
</p>

<p>
  <strong>Cmt29:</strong>
  <%= @intermediate.cmt29 %>
</p>

<p>
  <strong>Schooltable:</strong>
  <%= @intermediate.schooltable %>
</p>

<p>
  <strong>Cmt30:</strong>
  <%= @intermediate.cmt30 %>
</p>

<p>
  <strong>Attendancepercentage:</strong>
  <%= @intermediate.attendancepercentage %>
</p>

<p>
  <strong>Cmt31:</strong>
  <%= @intermediate.cmt31 %>
</p>

<p>
  <strong>Writtenpreparation:</strong>
  <%= @intermediate.writtenpreparation %>
</p>

<p>
  <strong>Cmt32:</strong>
  <%= @intermediate.cmt32 %>
</p>

<p>
  <strong>Ratingrecords:</strong>
  <%= @intermediate.ratingrecords %>
</p>

<p>
  <strong>Cmt33:</strong>
  <%= @intermediate.cmt33 %>
</p>

<p>
  <strong>Activitiesbook:</strong>
  <%= @intermediate.activitiesbook %>
</p>

<p>
  <strong>Cmt34:</strong>
  <%= @intermediate.cmt34 %>
</p>

<p>
  <strong>Editorialbusiness:</strong>
  <%= @intermediate.editorialbusiness %>
</p>

<p>
  <strong>Cmt35:</strong>
  <%= @intermediate.cmt35 %>
</p>

<p>
  <strong>Visitingteachers:</strong>
  <%= @intermediate.visitingteachers %>
</p>

<p>
  <strong>Cmt36:</strong>
  <%= @intermediate.cmt36 %>
</p>

<p>
  <strong>Teachingaidsusage:</strong>
  <%= @intermediate.teachingaidsusage %>
</p>

<p>
  <strong>Cmt37:</strong>
  <%= @intermediate.cmt37 %>
</p>

<p>
  <strong>Commissionguidance:</strong>
  <%= @intermediate.commissionguidance %>
</p>

<p>
  <strong>Cmt38:</strong>
  <%= @intermediate.cmt38 %>
</p>

<p>
  <strong>Enrichmentprogram:</strong>
  <%= @intermediate.enrichmentprogram %>
</p>

<p>
  <strong>Cmt39:</strong>
  <%= @intermediate.cmt39 %>
</p>

<p>
  <strong>Schoolplan:</strong>
  <%= @intermediate.schoolplan %>
</p>

<p>
  <strong>Cmt40:</strong>
  <%= @intermediate.cmt40 %>
</p>

<p>
  <strong>Trainingprograms:</strong>
  <%= @intermediate.trainingprograms %>
</p>

<p>
  <strong>Cmt41:</strong>
  <%= @intermediate.cmt41 %>
</p>

<p>
  <strong>Techemploying:</strong>
  <%= @intermediate.techemploying %>
</p>

<p>
  <strong>Cmt42:</strong>
  <%= @intermediate.cmt42 %>
</p>

<p>
  <strong>Richmentprogramdev:</strong>
  <%= @intermediate.richmentprogramdev %>
</p>

<p>
  <strong>Cmt43:</strong>
  <%= @intermediate.cmt43 %>
</p>

<p>
  <strong>Teachingnewstrategy:</strong>
  <%= @intermediate.teachingnewstrategy %>
</p>

<p>
  <strong>Cmt44:</strong>
  <%= @intermediate.cmt44 %>
</p>

<p>
  <strong>Learningresource:</strong>
  <%= @intermediate.learningresource %>
</p>

<p>
  <strong>Cmt45:</strong>
  <%= @intermediate.cmt45 %>
</p>

<p>
  <strong>Headmasterpermission:</strong>
  <%= @intermediate.headmasterpermission %>
</p>

<p>
  <strong>Cmt46:</strong>
  <%= @intermediate.cmt46 %>
</p>

<p>
  <strong>Creativeapproaches:</strong>
  <%= @intermediate.creativeapproaches %>
</p>

<p>
  <strong>Cmt47:</strong>
  <%= @intermediate.cmt47 %>
</p>

<p>
  <strong>Schoolinitiative:</strong>
  <%= @intermediate.schoolinitiative %>
</p>

<p>
  <strong>Cmt48:</strong>
  <%= @intermediate.cmt48 %>
</p>

<p>
  <strong>Achievementfile:</strong>
  <%= @intermediate.achievementfile %>
</p>

<p>
  <strong>Cmt49:</strong>
  <%= @intermediate.cmt49 %>
</p>

<p>
  <strong>Examssystems:</strong>
  <%= @intermediate.examssystems %>
</p>

<p>
  <strong>Cmt50:</strong>
  <%= @intermediate.cmt50 %>
</p>

<p>
  <strong>Achievementexams:</strong>
  <%= @intermediate.achievementexams %>
</p>

<p>
  <strong>Cmt51:</strong>
  <%= @intermediate.cmt51 %>
</p>

<p>
  <strong>Studentsinawards:</strong>
  <%= @intermediate.studentsinawards %>
</p>

<p>
  <strong>Cmt52:</strong>
  <%= @intermediate.cmt52 %>
</p>

<p>
  <strong>Studentsoutawards:</strong>
  <%= @intermediate.studentsoutawards %>
</p>

<p>
  <strong>Cmt53:</strong>
  <%= @intermediate.cmt53 %>
</p>

<p>
  <strong>Safetycoordinator:</strong>
  <%= @intermediate.safetycoordinator %>
</p>

<p>
  <strong>Cmt54:</strong>
  <%= @intermediate.cmt54 %>
</p>

<p>
  <strong>Teachertraining:</strong>
  <%= @intermediate.teachertraining %>
</p>

<p>
  <strong>Cmt55:</strong>
  <%= @intermediate.cmt55 %>
</p>

<p>
  <strong>Buildingsafety:</strong>
  <%= @intermediate.buildingsafety %>
</p>

<p>
  <strong>Cmt56:</strong>
  <%= @intermediate.cmt56 %>
</p>

<p>
  <strong>Evacuationexperment:</strong>
  <%= @intermediate.evacuationexperment %>
</p>

<p>
  <strong>Cmt57:</strong>
  <%= @intermediate.cmt57 %>
</p>

<p>
  <strong>Fireextinguishers:</strong>
  <%= @intermediate.fireextinguishers %>
</p>

<p>
  <strong>Cmt58:</strong>
  <%= @intermediate.cmt58 %>
</p>

<p>
  <strong>Emergencyexit:</strong>
  <%= @intermediate.emergencyexit %>
</p>

<p>
  <strong>Cmt59:</strong>
  <%= @intermediate.cmt59 %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @intermediate.alarm %>
</p>

<p>
  <strong>Cmt60:</strong>
  <%= @intermediate.cmt60 %>
</p>

<p>
  <strong>Safetymethods:</strong>
  <%= @intermediate.safetymethods %>
</p>

<p>
  <strong>Cmt61:</strong>
  <%= @intermediate.cmt61 %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @intermediate.sum %>
</p>

<%= link_to 'Edit', edit_intermediate_path(@intermediate) %> |
<%= link_to 'Back', intermediates_path %>
