<%= simple_form_for(@primary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :workorganization %>
    <%= f.input :cmt1 %>
    <%= f.input :followupsystem %>
    <%= f.input :cmt2 %>
    <%= f.input :measuringprogram %>
    <%= f.input :cmt3 %>
    <%= f.input :quailtyculture %>
    <%= f.input :cmt4 %>
    <%= f.input :messegesystem %>
    <%= f.input :cmt5 %>
    <%= f.input :studentshonoring %>
    <%= f.input :cmt6 %>
    <%= f.input :teachershonoring %>
    <%= f.input :cmt7 %>
    <%= f.input :schoolboard %>
    <%= f.input :cmt8 %>
    <%= f.input :selfevaluation %>
    <%= f.input :cmt9 %>
    <%= f.input :schoolapplying %>
    <%= f.input :cmt10 %>
    <%= f.input :oneteamspirit %>
    <%= f.input :cmt11 %>
    <%= f.input :otherschooltwin %>
    <%= f.input :cmt12 %>
    <%= f.input :requiredworkcompletion %>
    <%= f.input :cmt13 %>
    <%= f.input :noorprogramcompletion %>
    <%= f.input :cmt14 %>
    <%= f.input :takamolcompletion %>
    <%= f.input :cmt15 %>
    <%= f.input :schoolweb %>
    <%= f.input :cmt16 %>
    <%= f.input :classenvironment %>
    <%= f.input :cmt17 %>
    <%= f.input :schoolfacilities %>
    <%= f.input :cmt18 %>
    <%= f.input :schoolcafeteria %>
    <%= f.input :cmt19 %>
    <%= f.input :healthpromoting %>
    <%= f.input :cmt20 %>
    <%= f.input :walltexting %>
    <%= f.input :cmt21 %>
    <%= f.input :schoolactivities %>
    <%= f.input :cmt22 %>
    <%= f.input :islamicawareness %>
    <%= f.input :cmt23 %>
    <%= f.input :proceduralplan %>
    <%= f.input :cmt24 %>
    <%= f.input :proceduralsystemic %>
    <%= f.input :cmt25 %>
    <%= f.input :proceduralsystemic2 %>
    <%= f.input :cmt26 %>
    <%= f.input :teacherinout %>
    <%= f.input :cmt27 %>
    <%= f.input :waitingclasses %>
    <%= f.input :cmt28 %>
    <%= f.input :morningsupervision %>
    <%= f.input :cmt29 %>
    <%= f.input :schooltable %>
    <%= f.input :cmt30 %>
    <%= f.input :attendancepercentage %>
    <%= f.input :cmt31 %>
    <%= f.input :writtenpreparation %>
    <%= f.input :cmt32 %>
    <%= f.input :ratingrecords %>
    <%= f.input :cmt33 %>
    <%= f.input :activitiesbook %>
    <%= f.input :cmt34 %>
    <%= f.input :editorialbusiness %>
    <%= f.input :cmt35 %>
    <%= f.input :visitingteachers %>
    <%= f.input :cmt36 %>
    <%= f.input :teachingaidsusage %>
    <%= f.input :cmt37 %>
    <%= f.input :commissionguidance %>
    <%= f.input :cmt38 %>
    <%= f.input :enrichmentprogram %>
    <%= f.input :cmt39 %>
    <%= f.input :schoolplan %>
    <%= f.input :cmt40 %>
    <%= f.input :trainingprograms %>
    <%= f.input :cmt41 %>
    <%= f.input :techemploying %>
    <%= f.input :cmt42 %>
    <%= f.input :richmentprogramdev %>
    <%= f.input :cmt43 %>
    <%= f.input :teachingnewstrategy %>
    <%= f.input :cmt44 %>
    <%= f.input :learningresource %>
    <%= f.input :cmt45 %>
    <%= f.input :headmasterpermission %>
    <%= f.input :cmt46 %>
    <%= f.input :creativeapproaches %>
    <%= f.input :cmt47 %>
    <%= f.input :schoolinitiative %>
    <%= f.input :cmt48 %>
    <%= f.input :achievementfile %>
    <%= f.input :cmt49 %>
    <%= f.input :examssystems %>
    <%= f.input :cmt50 %>
    <%= f.input :achievementexams %>
    <%= f.input :cmt51 %>
    <%= f.input :studentsinawards %>
    <%= f.input :cmt52 %>
    <%= f.input :studentsoutawards %>
    <%= f.input :cmt53 %>
    <%= f.input :safetycoordinator %>
    <%= f.input :cmt54 %>
    <%= f.input :teachertraining %>
    <%= f.input :cmt55 %>
    <%= f.input :buildingsafety %>
    <%= f.input :cmt56 %>
    <%= f.input :evacuationexperment %>
    <%= f.input :cmt57 %>
    <%= f.input :fireextinguishers %>
    <%= f.input :cmt58 %>
    <%= f.input :emergencyexit %>
    <%= f.input :cmt59 %>
    <%= f.input :alarm %>
    <%= f.input :cmt60 %>
    <%= f.input :safetymethods %>
    <%= f.input :cmt61 %>
    <%= f.input :sum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
