<h1>Listing primaries</h1>

<table>
  <thead>
    <tr>
      <th>Workorganization</th>
      <th>Cmt1</th>
      <th>Followupsystem</th>
      <th>Cmt2</th>
      <th>Measuringprogram</th>
      <th>Cmt3</th>
      <th>Quailtyculture</th>
      <th>Cmt4</th>
      <th>Messegesystem</th>
      <th>Cmt5</th>
      <th>Studentshonoring</th>
      <th>Cmt6</th>
      <th>Teachershonoring</th>
      <th>Cmt7</th>
      <th>Schoolboard</th>
      <th>Cmt8</th>
      <th>Selfevaluation</th>
      <th>Cmt9</th>
      <th>Schoolapplying</th>
      <th>Cmt10</th>
      <th>Oneteamspirit</th>
      <th>Cmt11</th>
      <th>Otherschooltwin</th>
      <th>Cmt12</th>
      <th>Requiredworkcompletion</th>
      <th>Cmt13</th>
      <th>Noorprogramcompletion</th>
      <th>Cmt14</th>
      <th>Takamolcompletion</th>
      <th>Cmt15</th>
      <th>Schoolweb</th>
      <th>Cmt16</th>
      <th>Classenvironment</th>
      <th>Cmt17</th>
      <th>Schoolfacilities</th>
      <th>Cmt18</th>
      <th>Schoolcafeteria</th>
      <th>Cmt19</th>
      <th>Healthpromoting</th>
      <th>Cmt20</th>
      <th>Walltexting</th>
      <th>Cmt21</th>
      <th>Schoolactivities</th>
      <th>Cmt22</th>
      <th>Islamicawareness</th>
      <th>Cmt23</th>
      <th>Proceduralplan</th>
      <th>Cmt24</th>
      <th>Proceduralsystemic</th>
      <th>Cmt25</th>
      <th>Proceduralsystemic2</th>
      <th>Cmt26</th>
      <th>Teacherinout</th>
      <th>Cmt27</th>
      <th>Waitingclasses</th>
      <th>Cmt28</th>
      <th>Morningsupervision</th>
      <th>Cmt29</th>
      <th>Schooltable</th>
      <th>Cmt30</th>
      <th>Attendancepercentage</th>
      <th>Cmt31</th>
      <th>Writtenpreparation</th>
      <th>Cmt32</th>
      <th>Ratingrecords</th>
      <th>Cmt33</th>
      <th>Activitiesbook</th>
      <th>Cmt34</th>
      <th>Editorialbusiness</th>
      <th>Cmt35</th>
      <th>Visitingteachers</th>
      <th>Cmt36</th>
      <th>Teachingaidsusage</th>
      <th>Cmt37</th>
      <th>Commissionguidance</th>
      <th>Cmt38</th>
      <th>Enrichmentprogram</th>
      <th>Cmt39</th>
      <th>Schoolplan</th>
      <th>Cmt40</th>
      <th>Trainingprograms</th>
      <th>Cmt41</th>
      <th>Techemploying</th>
      <th>Cmt42</th>
      <th>Richmentprogramdev</th>
      <th>Cmt43</th>
      <th>Teachingnewstrategy</th>
      <th>Cmt44</th>
      <th>Learningresource</th>
      <th>Cmt45</th>
      <th>Headmasterpermission</th>
      <th>Cmt46</th>
      <th>Creativeapproaches</th>
      <th>Cmt47</th>
      <th>Schoolinitiative</th>
      <th>Cmt48</th>
      <th>Achievementfile</th>
      <th>Cmt49</th>
      <th>Examssystems</th>
      <th>Cmt50</th>
      <th>Achievementexams</th>
      <th>Cmt51</th>
      <th>Studentsinawards</th>
      <th>Cmt52</th>
      <th>Studentsoutawards</th>
      <th>Cmt53</th>
      <th>Safetycoordinator</th>
      <th>Cmt54</th>
      <th>Teachertraining</th>
      <th>Cmt55</th>
      <th>Buildingsafety</th>
      <th>Cmt56</th>
      <th>Evacuationexperment</th>
      <th>Cmt57</th>
      <th>Fireextinguishers</th>
      <th>Cmt58</th>
      <th>Emergencyexit</th>
      <th>Cmt59</th>
      <th>Alarm</th>
      <th>Cmt60</th>
      <th>Safetymethods</th>
      <th>Cmt61</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @primaries.each do |primary| %>
      <tr>
        <td><%= primary.workorganization %></td>
        <td><%= primary.cmt1 %></td>
        <td><%= primary.followupsystem %></td>
        <td><%= primary.cmt2 %></td>
        <td><%= primary.measuringprogram %></td>
        <td><%= primary.cmt3 %></td>
        <td><%= primary.quailtyculture %></td>
        <td><%= primary.cmt4 %></td>
        <td><%= primary.messegesystem %></td>
        <td><%= primary.cmt5 %></td>
        <td><%= primary.studentshonoring %></td>
        <td><%= primary.cmt6 %></td>
        <td><%= primary.teachershonoring %></td>
        <td><%= primary.cmt7 %></td>
        <td><%= primary.schoolboard %></td>
        <td><%= primary.cmt8 %></td>
        <td><%= primary.selfevaluation %></td>
        <td><%= primary.cmt9 %></td>
        <td><%= primary.schoolapplying %></td>
        <td><%= primary.cmt10 %></td>
        <td><%= primary.oneteamspirit %></td>
        <td><%= primary.cmt11 %></td>
        <td><%= primary.otherschooltwin %></td>
        <td><%= primary.cmt12 %></td>
        <td><%= primary.requiredworkcompletion %></td>
        <td><%= primary.cmt13 %></td>
        <td><%= primary.noorprogramcompletion %></td>
        <td><%= primary.cmt14 %></td>
        <td><%= primary.takamolcompletion %></td>
        <td><%= primary.cmt15 %></td>
        <td><%= primary.schoolweb %></td>
        <td><%= primary.cmt16 %></td>
        <td><%= primary.classenvironment %></td>
        <td><%= primary.cmt17 %></td>
        <td><%= primary.schoolfacilities %></td>
        <td><%= primary.cmt18 %></td>
        <td><%= primary.schoolcafeteria %></td>
        <td><%= primary.cmt19 %></td>
        <td><%= primary.healthpromoting %></td>
        <td><%= primary.cmt20 %></td>
        <td><%= primary.walltexting %></td>
        <td><%= primary.cmt21 %></td>
        <td><%= primary.schoolactivities %></td>
        <td><%= primary.cmt22 %></td>
        <td><%= primary.islamicawareness %></td>
        <td><%= primary.cmt23 %></td>
        <td><%= primary.proceduralplan %></td>
        <td><%= primary.cmt24 %></td>
        <td><%= primary.proceduralsystemic %></td>
        <td><%= primary.cmt25 %></td>
        <td><%= primary.proceduralsystemic2 %></td>
        <td><%= primary.cmt26 %></td>
        <td><%= primary.teacherinout %></td>
        <td><%= primary.cmt27 %></td>
        <td><%= primary.waitingclasses %></td>
        <td><%= primary.cmt28 %></td>
        <td><%= primary.morningsupervision %></td>
        <td><%= primary.cmt29 %></td>
        <td><%= primary.schooltable %></td>
        <td><%= primary.cmt30 %></td>
        <td><%= primary.attendancepercentage %></td>
        <td><%= primary.cmt31 %></td>
        <td><%= primary.writtenpreparation %></td>
        <td><%= primary.cmt32 %></td>
        <td><%= primary.ratingrecords %></td>
        <td><%= primary.cmt33 %></td>
        <td><%= primary.activitiesbook %></td>
        <td><%= primary.cmt34 %></td>
        <td><%= primary.editorialbusiness %></td>
        <td><%= primary.cmt35 %></td>
        <td><%= primary.visitingteachers %></td>
        <td><%= primary.cmt36 %></td>
        <td><%= primary.teachingaidsusage %></td>
        <td><%= primary.cmt37 %></td>
        <td><%= primary.commissionguidance %></td>
        <td><%= primary.cmt38 %></td>
        <td><%= primary.enrichmentprogram %></td>
        <td><%= primary.cmt39 %></td>
        <td><%= primary.schoolplan %></td>
        <td><%= primary.cmt40 %></td>
        <td><%= primary.trainingprograms %></td>
        <td><%= primary.cmt41 %></td>
        <td><%= primary.techemploying %></td>
        <td><%= primary.cmt42 %></td>
        <td><%= primary.richmentprogramdev %></td>
        <td><%= primary.cmt43 %></td>
        <td><%= primary.teachingnewstrategy %></td>
        <td><%= primary.cmt44 %></td>
        <td><%= primary.learningresource %></td>
        <td><%= primary.cmt45 %></td>
        <td><%= primary.headmasterpermission %></td>
        <td><%= primary.cmt46 %></td>
        <td><%= primary.creativeapproaches %></td>
        <td><%= primary.cmt47 %></td>
        <td><%= primary.schoolinitiative %></td>
        <td><%= primary.cmt48 %></td>
        <td><%= primary.achievementfile %></td>
        <td><%= primary.cmt49 %></td>
        <td><%= primary.examssystems %></td>
        <td><%= primary.cmt50 %></td>
        <td><%= primary.achievementexams %></td>
        <td><%= primary.cmt51 %></td>
        <td><%= primary.studentsinawards %></td>
        <td><%= primary.cmt52 %></td>
        <td><%= primary.studentsoutawards %></td>
        <td><%= primary.cmt53 %></td>
        <td><%= primary.safetycoordinator %></td>
        <td><%= primary.cmt54 %></td>
        <td><%= primary.teachertraining %></td>
        <td><%= primary.cmt55 %></td>
        <td><%= primary.buildingsafety %></td>
        <td><%= primary.cmt56 %></td>
        <td><%= primary.evacuationexperment %></td>
        <td><%= primary.cmt57 %></td>
        <td><%= primary.fireextinguishers %></td>
        <td><%= primary.cmt58 %></td>
        <td><%= primary.emergencyexit %></td>
        <td><%= primary.cmt59 %></td>
        <td><%= primary.alarm %></td>
        <td><%= primary.cmt60 %></td>
        <td><%= primary.safetymethods %></td>
        <td><%= primary.cmt61 %></td>
        <td><%= primary.sum %></td>
        <td><%= link_to 'Show', primary %></td>
        <td><%= link_to 'Edit', edit_primary_path(primary) %></td>
        <td><%= link_to 'Destroy', primary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Primary', new_primary_path %>
