<%- model_class = Secondary -%>
<div class="page-header">
  <h1><%=t '.title', :default => Secondary %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:workorganization) %></th>
      <th><%= model_class.human_attribute_name(:cmt1) %></th>
      <th><%= model_class.human_attribute_name(:followupsystem) %></th>
      <th><%= model_class.human_attribute_name(:cmt2) %></th>
      <th><%= model_class.human_attribute_name(:measuringprogram) %></th>
      <th><%= model_class.human_attribute_name(:cmt3) %></th>
      <th><%= model_class.human_attribute_name(:quailtyculture) %></th>
      <th><%= model_class.human_attribute_name(:cmt4) %></th>
      <th><%= model_class.human_attribute_name(:messegesystem) %></th>
      <th><%= model_class.human_attribute_name(:cmt5) %></th>
      <th><%= model_class.human_attribute_name(:studentshonoring) %></th>
      <th><%= model_class.human_attribute_name(:cmt6) %></th>
      <th><%= model_class.human_attribute_name(:teachershonoring) %></th>
      <th><%= model_class.human_attribute_name(:cmt7) %></th>
      <th><%= model_class.human_attribute_name(:schoolboard) %></th>
      <th><%= model_class.human_attribute_name(:cmt8) %></th>
      <th><%= model_class.human_attribute_name(:selfevaluation) %></th>
      <th><%= model_class.human_attribute_name(:cmt9) %></th>
      <th><%= model_class.human_attribute_name(:schoolapplying) %></th>
      <th><%= model_class.human_attribute_name(:cmt10) %></th>
      <th><%= model_class.human_attribute_name(:oneteamspirit) %></th>
      <th><%= model_class.human_attribute_name(:cmt11) %></th>
      <th><%= model_class.human_attribute_name(:otherschooltwin) %></th>
      <th><%= model_class.human_attribute_name(:cmt12) %></th>
      <th><%= model_class.human_attribute_name(:requiredworkcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt13) %></th>
      <th><%= model_class.human_attribute_name(:noorprogramcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt14) %></th>
      <th><%= model_class.human_attribute_name(:takamolcompletion) %></th>
      <th><%= model_class.human_attribute_name(:cmt15) %></th>
      <th><%= model_class.human_attribute_name(:schoolweb) %></th>
      <th><%= model_class.human_attribute_name(:cmt16) %></th>
      <th><%= model_class.human_attribute_name(:classenvironment) %></th>
      <th><%= model_class.human_attribute_name(:cmt17) %></th>
      <th><%= model_class.human_attribute_name(:schoolfacilities) %></th>
      <th><%= model_class.human_attribute_name(:cmt18) %></th>
      <th><%= model_class.human_attribute_name(:schoolcafeteria) %></th>
      <th><%= model_class.human_attribute_name(:cmt19) %></th>
      <th><%= model_class.human_attribute_name(:healthpromoting) %></th>
      <th><%= model_class.human_attribute_name(:cmt20) %></th>
      <th><%= model_class.human_attribute_name(:walltexting) %></th>
      <th><%= model_class.human_attribute_name(:cmt21) %></th>
      <th><%= model_class.human_attribute_name(:schoolactivities) %></th>
      <th><%= model_class.human_attribute_name(:cmt22) %></th>
      <th><%= model_class.human_attribute_name(:islamicawareness) %></th>
      <th><%= model_class.human_attribute_name(:cmt23) %></th>
      <th><%= model_class.human_attribute_name(:proceduralplan) %></th>
      <th><%= model_class.human_attribute_name(:cmt24) %></th>
      <th><%= model_class.human_attribute_name(:proceduralsystemic) %></th>
      <th><%= model_class.human_attribute_name(:cmt25) %></th>
      <th><%= model_class.human_attribute_name(:proceduralsystemic2) %></th>
      <th><%= model_class.human_attribute_name(:cmt26) %></th>
      <th><%= model_class.human_attribute_name(:teacherinout) %></th>
      <th><%= model_class.human_attribute_name(:cmt27) %></th>
      <th><%= model_class.human_attribute_name(:waitingclasses) %></th>
      <th><%= model_class.human_attribute_name(:cmt28) %></th>
      <th><%= model_class.human_attribute_name(:morningsupervision) %></th>
      <th><%= model_class.human_attribute_name(:cmt29) %></th>
      <th><%= model_class.human_attribute_name(:schooltable) %></th>
      <th><%= model_class.human_attribute_name(:cmt30) %></th>
      <th><%= model_class.human_attribute_name(:attendancepercentage) %></th>
      <th><%= model_class.human_attribute_name(:cmt31) %></th>
      <th><%= model_class.human_attribute_name(:writtenpreparation) %></th>
      <th><%= model_class.human_attribute_name(:cmt32) %></th>
      <th><%= model_class.human_attribute_name(:ratingrecords) %></th>
      <th><%= model_class.human_attribute_name(:cmt33) %></th>
      <th><%= model_class.human_attribute_name(:activitiesbook) %></th>
      <th><%= model_class.human_attribute_name(:cmt34) %></th>
      <th><%= model_class.human_attribute_name(:editorialbusiness) %></th>
      <th><%= model_class.human_attribute_name(:cmt35) %></th>
      <th><%= model_class.human_attribute_name(:visitingteachers) %></th>
      <th><%= model_class.human_attribute_name(:cmt36) %></th>
      <th><%= model_class.human_attribute_name(:teachingaidsusage) %></th>
      <th><%= model_class.human_attribute_name(:cmt37) %></th>
      <th><%= model_class.human_attribute_name(:commissionguidance) %></th>
      <th><%= model_class.human_attribute_name(:cmt38) %></th>
      <th><%= model_class.human_attribute_name(:enrichmentprogram) %></th>
      <th><%= model_class.human_attribute_name(:cmt39) %></th>
      <th><%= model_class.human_attribute_name(:schoolplan) %></th>
      <th><%= model_class.human_attribute_name(:cmt40) %></th>
      <th><%= model_class.human_attribute_name(:trainingprograms) %></th>
      <th><%= model_class.human_attribute_name(:cmt41) %></th>
      <th><%= model_class.human_attribute_name(:techemploying) %></th>
      <th><%= model_class.human_attribute_name(:cmt42) %></th>
      <th><%= model_class.human_attribute_name(:richmentprogramdev) %></th>
      <th><%= model_class.human_attribute_name(:cmt43) %></th>
      <th><%= model_class.human_attribute_name(:teachingnewstrategy) %></th>
      <th><%= model_class.human_attribute_name(:cmt44) %></th>
      <th><%= model_class.human_attribute_name(:learningresource) %></th>
      <th><%= model_class.human_attribute_name(:cmt45) %></th>
      <th><%= model_class.human_attribute_name(:headmasterpermission) %></th>
      <th><%= model_class.human_attribute_name(:cmt46) %></th>
      <th><%= model_class.human_attribute_name(:creativeapproaches) %></th>
      <th><%= model_class.human_attribute_name(:cmt47) %></th>
      <th><%= model_class.human_attribute_name(:schoolinitiative) %></th>
      <th><%= model_class.human_attribute_name(:cmt48) %></th>
      <th><%= model_class.human_attribute_name(:achievementfile) %></th>
      <th><%= model_class.human_attribute_name(:cmt49) %></th>
      <th><%= model_class.human_attribute_name(:examssystems) %></th>
      <th><%= model_class.human_attribute_name(:cmt50) %></th>
      <th><%= model_class.human_attribute_name(:qeiyasschoollevel) %></th>
      <th><%= model_class.human_attribute_name(:cmt51) %></th>
      <th><%= model_class.human_attribute_name(:cmt52) %></th>
      <th><%= model_class.human_attribute_name(:studentsinawards) %></th>
      <th><%= model_class.human_attribute_name(:studentsoutawards) %></th>
      <th><%= model_class.human_attribute_name(:cmt53) %></th>
      <th><%= model_class.human_attribute_name(:safetycoordinator) %></th>
      <th><%= model_class.human_attribute_name(:cmt54) %></th>
      <th><%= model_class.human_attribute_name(:teachertraining) %></th>
      <th><%= model_class.human_attribute_name(:cmt55) %></th>
      <th><%= model_class.human_attribute_name(:buildingsafety) %></th>
      <th><%= model_class.human_attribute_name(:cmt56) %></th>
      <th><%= model_class.human_attribute_name(:evacuationexperment) %></th>
      <th><%= model_class.human_attribute_name(:cmt57) %></th>
      <th><%= model_class.human_attribute_name(:fireextinguishers) %></th>
      <th><%= model_class.human_attribute_name(:cmt58) %></th>
      <th><%= model_class.human_attribute_name(:emergencyexit) %></th>
      <th><%= model_class.human_attribute_name(:cmt59) %></th>
      <th><%= model_class.human_attribute_name(:alarm) %></th>
      <th><%= model_class.human_attribute_name(:cmt60) %></th>
      <th><%= model_class.human_attribute_name(:safetymethods) %></th>
      <th><%= model_class.human_attribute_name(:cmt61) %></th>
      <th><%= model_class.human_attribute_name(:sum) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @secondaries.each do |secondary| %>
      <tr>
        <td><%= secondary.id %></td>
        <td><%= secondary.workorganization %></td>
        <td><%= secondary.cmt1 %></td>
        <td><%= secondary.followupsystem %></td>
        <td><%= secondary.cmt2 %></td>
        <td><%= secondary.measuringprogram %></td>
        <td><%= secondary.cmt3 %></td>
        <td><%= secondary.quailtyculture %></td>
        <td><%= secondary.cmt4 %></td>
        <td><%= secondary.messegesystem %></td>
        <td><%= secondary.cmt5 %></td>
        <td><%= secondary.studentshonoring %></td>
        <td><%= secondary.cmt6 %></td>
        <td><%= secondary.teachershonoring %></td>
        <td><%= secondary.cmt7 %></td>
        <td><%= secondary.schoolboard %></td>
        <td><%= secondary.cmt8 %></td>
        <td><%= secondary.selfevaluation %></td>
        <td><%= secondary.cmt9 %></td>
        <td><%= secondary.schoolapplying %></td>
        <td><%= secondary.cmt10 %></td>
        <td><%= secondary.oneteamspirit %></td>
        <td><%= secondary.cmt11 %></td>
        <td><%= secondary.otherschooltwin %></td>
        <td><%= secondary.cmt12 %></td>
        <td><%= secondary.requiredworkcompletion %></td>
        <td><%= secondary.cmt13 %></td>
        <td><%= secondary.noorprogramcompletion %></td>
        <td><%= secondary.cmt14 %></td>
        <td><%= secondary.takamolcompletion %></td>
        <td><%= secondary.cmt15 %></td>
        <td><%= secondary.schoolweb %></td>
        <td><%= secondary.cmt16 %></td>
        <td><%= secondary.classenvironment %></td>
        <td><%= secondary.cmt17 %></td>
        <td><%= secondary.schoolfacilities %></td>
        <td><%= secondary.cmt18 %></td>
        <td><%= secondary.schoolcafeteria %></td>
        <td><%= secondary.cmt19 %></td>
        <td><%= secondary.healthpromoting %></td>
        <td><%= secondary.cmt20 %></td>
        <td><%= secondary.walltexting %></td>
        <td><%= secondary.cmt21 %></td>
        <td><%= secondary.schoolactivities %></td>
        <td><%= secondary.cmt22 %></td>
        <td><%= secondary.islamicawareness %></td>
        <td><%= secondary.cmt23 %></td>
        <td><%= secondary.proceduralplan %></td>
        <td><%= secondary.cmt24 %></td>
        <td><%= secondary.proceduralsystemic %></td>
        <td><%= secondary.cmt25 %></td>
        <td><%= secondary.proceduralsystemic2 %></td>
        <td><%= secondary.cmt26 %></td>
        <td><%= secondary.teacherinout %></td>
        <td><%= secondary.cmt27 %></td>
        <td><%= secondary.waitingclasses %></td>
        <td><%= secondary.cmt28 %></td>
        <td><%= secondary.morningsupervision %></td>
        <td><%= secondary.cmt29 %></td>
        <td><%= secondary.schooltable %></td>
        <td><%= secondary.cmt30 %></td>
        <td><%= secondary.attendancepercentage %></td>
        <td><%= secondary.cmt31 %></td>
        <td><%= secondary.writtenpreparation %></td>
        <td><%= secondary.cmt32 %></td>
        <td><%= secondary.ratingrecords %></td>
        <td><%= secondary.cmt33 %></td>
        <td><%= secondary.activitiesbook %></td>
        <td><%= secondary.cmt34 %></td>
        <td><%= secondary.editorialbusiness %></td>
        <td><%= secondary.cmt35 %></td>
        <td><%= secondary.visitingteachers %></td>
        <td><%= secondary.cmt36 %></td>
        <td><%= secondary.teachingaidsusage %></td>
        <td><%= secondary.cmt37 %></td>
        <td><%= secondary.commissionguidance %></td>
        <td><%= secondary.cmt38 %></td>
        <td><%= secondary.enrichmentprogram %></td>
        <td><%= secondary.cmt39 %></td>
        <td><%= secondary.schoolplan %></td>
        <td><%= secondary.cmt40 %></td>
        <td><%= secondary.trainingprograms %></td>
        <td><%= secondary.cmt41 %></td>
        <td><%= secondary.techemploying %></td>
        <td><%= secondary.cmt42 %></td>
        <td><%= secondary.richmentprogramdev %></td>
        <td><%= secondary.cmt43 %></td>
        <td><%= secondary.teachingnewstrategy %></td>
        <td><%= secondary.cmt44 %></td>
        <td><%= secondary.learningresource %></td>
        <td><%= secondary.cmt45 %></td>
        <td><%= secondary.headmasterpermission %></td>
        <td><%= secondary.cmt46 %></td>
        <td><%= secondary.creativeapproaches %></td>
        <td><%= secondary.cmt47 %></td>
        <td><%= secondary.schoolinitiative %></td>
        <td><%= secondary.cmt48 %></td>
        <td><%= secondary.achievementfile %></td>
        <td><%= secondary.cmt49 %></td>
        <td><%= secondary.examssystems %></td>
        <td><%= secondary.cmt50 %></td>
        <td><%= secondary.qeiyasschoollevel %></td>
        <td><%= secondary.cmt51 %></td>
        <td><%= secondary.cmt52 %></td>
        <td><%= secondary.studentsinawards %></td>
        <td><%= secondary.studentsoutawards %></td>
        <td><%= secondary.cmt53 %></td>
        <td><%= secondary.safetycoordinator %></td>
        <td><%= secondary.cmt54 %></td>
        <td><%= secondary.teachertraining %></td>
        <td><%= secondary.cmt55 %></td>
        <td><%= secondary.buildingsafety %></td>
        <td><%= secondary.cmt56 %></td>
        <td><%= secondary.evacuationexperment %></td>
        <td><%= secondary.cmt57 %></td>
        <td><%= secondary.fireextinguishers %></td>
        <td><%= secondary.cmt58 %></td>
        <td><%= secondary.emergencyexit %></td>
        <td><%= secondary.cmt59 %></td>
        <td><%= secondary.alarm %></td>
        <td><%= secondary.cmt60 %></td>
        <td><%= secondary.safetymethods %></td>
        <td><%= secondary.cmt61 %></td>
        <td><%= secondary.sum %></td>
        <td><%=l secondary.created_at, format: :long %></td>
        <td>
          <%= link_to secondary_path(secondary), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to secondary_path(secondary), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_secondary_path,
            :class => 'btn btn-primary' %>
