<h1>Listing secondaries</h1>

<table>
  <thead>
    <tr>
      <th>Workorganization</th>
      <th>Cmt1</th>
      <th>Followupsystem</th>
      <th>Cmt2</th>
      <th>Measuringprogram</th>
      <th>Cmt3</th>
      <th>Quailtyculture</th>
      <th>Cmt4</th>
      <th>Messegesystem</th>
      <th>Cmt5</th>
      <th>Studentshonoring</th>
      <th>Cmt6</th>
      <th>Teachershonoring</th>
      <th>Cmt7</th>
      <th>Schoolboard</th>
      <th>Cmt8</th>
      <th>Selfevaluation</th>
      <th>Cmt9</th>
      <th>Schoolapplying</th>
      <th>Cmt10</th>
      <th>Oneteamspirit</th>
      <th>Cmt11</th>
      <th>Otherschooltwin</th>
      <th>Cmt12</th>
      <th>Requiredworkcompletion</th>
      <th>Cmt13</th>
      <th>Noorprogramcompletion</th>
      <th>Cmt14</th>
      <th>Takamolcompletion</th>
      <th>Cmt15</th>
      <th>Schoolweb</th>
      <th>Cmt16</th>
      <th>Classenvironment</th>
      <th>Cmt17</th>
      <th>Schoolfacilities</th>
      <th>Cmt18</th>
      <th>Schoolcafeteria</th>
      <th>Cmt19</th>
      <th>Healthpromoting</th>
      <th>Cmt20</th>
      <th>Walltexting</th>
      <th>Cmt21</th>
      <th>Schoolactivities</th>
      <th>Cmt22</th>
      <th>Islamicawareness</th>
      <th>Cmt23</th>
      <th>Proceduralplan</th>
      <th>Cmt24</th>
      <th>Proceduralsystemic</th>
      <th>Cmt25</th>
      <th>Proceduralsystemic2</th>
      <th>Cmt26</th>
      <th>Teacherinout</th>
      <th>Cmt27</th>
      <th>Waitingclasses</th>
      <th>Cmt28</th>
      <th>Morningsupervision</th>
      <th>Cmt29</th>
      <th>Schooltable</th>
      <th>Cmt30</th>
      <th>Attendancepercentage</th>
      <th>Cmt31</th>
      <th>Writtenpreparation</th>
      <th>Cmt32</th>
      <th>Ratingrecords</th>
      <th>Cmt33</th>
      <th>Activitiesbook</th>
      <th>Cmt34</th>
      <th>Editorialbusiness</th>
      <th>Cmt35</th>
      <th>Visitingteachers</th>
      <th>Cmt36</th>
      <th>Teachingaidsusage</th>
      <th>Cmt37</th>
      <th>Commissionguidance</th>
      <th>Cmt38</th>
      <th>Enrichmentprogram</th>
      <th>Cmt39</th>
      <th>Schoolplan</th>
      <th>Cmt40</th>
      <th>Trainingprograms</th>
      <th>Cmt41</th>
      <th>Techemploying</th>
      <th>Cmt42</th>
      <th>Richmentprogramdev</th>
      <th>Cmt43</th>
      <th>Teachingnewstrategy</th>
      <th>Cmt44</th>
      <th>Learningresource</th>
      <th>Cmt45</th>
      <th>Headmasterpermission</th>
      <th>Cmt46</th>
      <th>Creativeapproaches</th>
      <th>Cmt47</th>
      <th>Schoolinitiative</th>
      <th>Cmt48</th>
      <th>Achievementfile</th>
      <th>Cmt49</th>
      <th>Examssystems</th>
      <th>Cmt50</th>
      <th>Qeiyasschoollevel</th>
      <th>Cmt51</th>
      <th>Cmt52</th>
      <th>Studentsinawards</th>
      <th>Studentsoutawards</th>
      <th>Cmt53</th>
      <th>Safetycoordinator</th>
      <th>Cmt54</th>
      <th>Teachertraining</th>
      <th>Cmt55</th>
      <th>Buildingsafety</th>
      <th>Cmt56</th>
      <th>Evacuationexperment</th>
      <th>Cmt57</th>
      <th>Fireextinguishers</th>
      <th>Cmt58</th>
      <th>Emergencyexit</th>
      <th>Cmt59</th>
      <th>Alarm</th>
      <th>Cmt60</th>
      <th>Safetymethods</th>
      <th>Cmt61</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secondaries.each do |secondary| %>
      <tr>
        <td><%= secondary.workorganization %></td>
        <td><%= secondary.cmt1 %></td>
        <td><%= secondary.followupsystem %></td>
        <td><%= secondary.cmt2 %></td>
        <td><%= secondary.measuringprogram %></td>
        <td><%= secondary.cmt3 %></td>
        <td><%= secondary.quailtyculture %></td>
        <td><%= secondary.cmt4 %></td>
        <td><%= secondary.messegesystem %></td>
        <td><%= secondary.cmt5 %></td>
        <td><%= secondary.studentshonoring %></td>
        <td><%= secondary.cmt6 %></td>
        <td><%= secondary.teachershonoring %></td>
        <td><%= secondary.cmt7 %></td>
        <td><%= secondary.schoolboard %></td>
        <td><%= secondary.cmt8 %></td>
        <td><%= secondary.selfevaluation %></td>
        <td><%= secondary.cmt9 %></td>
        <td><%= secondary.schoolapplying %></td>
        <td><%= secondary.cmt10 %></td>
        <td><%= secondary.oneteamspirit %></td>
        <td><%= secondary.cmt11 %></td>
        <td><%= secondary.otherschooltwin %></td>
        <td><%= secondary.cmt12 %></td>
        <td><%= secondary.requiredworkcompletion %></td>
        <td><%= secondary.cmt13 %></td>
        <td><%= secondary.noorprogramcompletion %></td>
        <td><%= secondary.cmt14 %></td>
        <td><%= secondary.takamolcompletion %></td>
        <td><%= secondary.cmt15 %></td>
        <td><%= secondary.schoolweb %></td>
        <td><%= secondary.cmt16 %></td>
        <td><%= secondary.classenvironment %></td>
        <td><%= secondary.cmt17 %></td>
        <td><%= secondary.schoolfacilities %></td>
        <td><%= secondary.cmt18 %></td>
        <td><%= secondary.schoolcafeteria %></td>
        <td><%= secondary.cmt19 %></td>
        <td><%= secondary.healthpromoting %></td>
        <td><%= secondary.cmt20 %></td>
        <td><%= secondary.walltexting %></td>
        <td><%= secondary.cmt21 %></td>
        <td><%= secondary.schoolactivities %></td>
        <td><%= secondary.cmt22 %></td>
        <td><%= secondary.islamicawareness %></td>
        <td><%= secondary.cmt23 %></td>
        <td><%= secondary.proceduralplan %></td>
        <td><%= secondary.cmt24 %></td>
        <td><%= secondary.proceduralsystemic %></td>
        <td><%= secondary.cmt25 %></td>
        <td><%= secondary.proceduralsystemic2 %></td>
        <td><%= secondary.cmt26 %></td>
        <td><%= secondary.teacherinout %></td>
        <td><%= secondary.cmt27 %></td>
        <td><%= secondary.waitingclasses %></td>
        <td><%= secondary.cmt28 %></td>
        <td><%= secondary.morningsupervision %></td>
        <td><%= secondary.cmt29 %></td>
        <td><%= secondary.schooltable %></td>
        <td><%= secondary.cmt30 %></td>
        <td><%= secondary.attendancepercentage %></td>
        <td><%= secondary.cmt31 %></td>
        <td><%= secondary.writtenpreparation %></td>
        <td><%= secondary.cmt32 %></td>
        <td><%= secondary.ratingrecords %></td>
        <td><%= secondary.cmt33 %></td>
        <td><%= secondary.activitiesbook %></td>
        <td><%= secondary.cmt34 %></td>
        <td><%= secondary.editorialbusiness %></td>
        <td><%= secondary.cmt35 %></td>
        <td><%= secondary.visitingteachers %></td>
        <td><%= secondary.cmt36 %></td>
        <td><%= secondary.teachingaidsusage %></td>
        <td><%= secondary.cmt37 %></td>
        <td><%= secondary.commissionguidance %></td>
        <td><%= secondary.cmt38 %></td>
        <td><%= secondary.enrichmentprogram %></td>
        <td><%= secondary.cmt39 %></td>
        <td><%= secondary.schoolplan %></td>
        <td><%= secondary.cmt40 %></td>
        <td><%= secondary.trainingprograms %></td>
        <td><%= secondary.cmt41 %></td>
        <td><%= secondary.techemploying %></td>
        <td><%= secondary.cmt42 %></td>
        <td><%= secondary.richmentprogramdev %></td>
        <td><%= secondary.cmt43 %></td>
        <td><%= secondary.teachingnewstrategy %></td>
        <td><%= secondary.cmt44 %></td>
        <td><%= secondary.learningresource %></td>
        <td><%= secondary.cmt45 %></td>
        <td><%= secondary.headmasterpermission %></td>
        <td><%= secondary.cmt46 %></td>
        <td><%= secondary.creativeapproaches %></td>
        <td><%= secondary.cmt47 %></td>
        <td><%= secondary.schoolinitiative %></td>
        <td><%= secondary.cmt48 %></td>
        <td><%= secondary.achievementfile %></td>
        <td><%= secondary.cmt49 %></td>
        <td><%= secondary.examssystems %></td>
        <td><%= secondary.cmt50 %></td>
        <td><%= secondary.qeiyasschoollevel %></td>
        <td><%= secondary.cmt51 %></td>
        <td><%= secondary.cmt52 %></td>
        <td><%= secondary.studentsinawards %></td>
        <td><%= secondary.studentsoutawards %></td>
        <td><%= secondary.cmt53 %></td>
        <td><%= secondary.safetycoordinator %></td>
        <td><%= secondary.cmt54 %></td>
        <td><%= secondary.teachertraining %></td>
        <td><%= secondary.cmt55 %></td>
        <td><%= secondary.buildingsafety %></td>
        <td><%= secondary.cmt56 %></td>
        <td><%= secondary.evacuationexperment %></td>
        <td><%= secondary.cmt57 %></td>
        <td><%= secondary.fireextinguishers %></td>
        <td><%= secondary.cmt58 %></td>
        <td><%= secondary.emergencyexit %></td>
        <td><%= secondary.cmt59 %></td>
        <td><%= secondary.alarm %></td>
        <td><%= secondary.cmt60 %></td>
        <td><%= secondary.safetymethods %></td>
        <td><%= secondary.cmt61 %></td>
        <td><%= secondary.sum %></td>
        <td><%= link_to 'Show', secondary %></td>
        <td><%= link_to 'Edit', edit_secondary_path(secondary) %></td>
        <td><%= link_to 'Destroy', secondary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secondary', new_secondary_path %>
