<p id="notice"><%= notice %></p>

<p>
  <strong>Workorganization:</strong>
  <%= @secondary.workorganization %>
</p>

<p>
  <strong>Cmt1:</strong>
  <%= @secondary.cmt1 %>
</p>

<p>
  <strong>Followupsystem:</strong>
  <%= @secondary.followupsystem %>
</p>

<p>
  <strong>Cmt2:</strong>
  <%= @secondary.cmt2 %>
</p>

<p>
  <strong>Measuringprogram:</strong>
  <%= @secondary.measuringprogram %>
</p>

<p>
  <strong>Cmt3:</strong>
  <%= @secondary.cmt3 %>
</p>

<p>
  <strong>Quailtyculture:</strong>
  <%= @secondary.quailtyculture %>
</p>

<p>
  <strong>Cmt4:</strong>
  <%= @secondary.cmt4 %>
</p>

<p>
  <strong>Messegesystem:</strong>
  <%= @secondary.messegesystem %>
</p>

<p>
  <strong>Cmt5:</strong>
  <%= @secondary.cmt5 %>
</p>

<p>
  <strong>Studentshonoring:</strong>
  <%= @secondary.studentshonoring %>
</p>

<p>
  <strong>Cmt6:</strong>
  <%= @secondary.cmt6 %>
</p>

<p>
  <strong>Teachershonoring:</strong>
  <%= @secondary.teachershonoring %>
</p>

<p>
  <strong>Cmt7:</strong>
  <%= @secondary.cmt7 %>
</p>

<p>
  <strong>Schoolboard:</strong>
  <%= @secondary.schoolboard %>
</p>

<p>
  <strong>Cmt8:</strong>
  <%= @secondary.cmt8 %>
</p>

<p>
  <strong>Selfevaluation:</strong>
  <%= @secondary.selfevaluation %>
</p>

<p>
  <strong>Cmt9:</strong>
  <%= @secondary.cmt9 %>
</p>

<p>
  <strong>Schoolapplying:</strong>
  <%= @secondary.schoolapplying %>
</p>

<p>
  <strong>Cmt10:</strong>
  <%= @secondary.cmt10 %>
</p>

<p>
  <strong>Oneteamspirit:</strong>
  <%= @secondary.oneteamspirit %>
</p>

<p>
  <strong>Cmt11:</strong>
  <%= @secondary.cmt11 %>
</p>

<p>
  <strong>Otherschooltwin:</strong>
  <%= @secondary.otherschooltwin %>
</p>

<p>
  <strong>Cmt12:</strong>
  <%= @secondary.cmt12 %>
</p>

<p>
  <strong>Requiredworkcompletion:</strong>
  <%= @secondary.requiredworkcompletion %>
</p>

<p>
  <strong>Cmt13:</strong>
  <%= @secondary.cmt13 %>
</p>

<p>
  <strong>Noorprogramcompletion:</strong>
  <%= @secondary.noorprogramcompletion %>
</p>

<p>
  <strong>Cmt14:</strong>
  <%= @secondary.cmt14 %>
</p>

<p>
  <strong>Takamolcompletion:</strong>
  <%= @secondary.takamolcompletion %>
</p>

<p>
  <strong>Cmt15:</strong>
  <%= @secondary.cmt15 %>
</p>

<p>
  <strong>Schoolweb:</strong>
  <%= @secondary.schoolweb %>
</p>

<p>
  <strong>Cmt16:</strong>
  <%= @secondary.cmt16 %>
</p>

<p>
  <strong>Classenvironment:</strong>
  <%= @secondary.classenvironment %>
</p>

<p>
  <strong>Cmt17:</strong>
  <%= @secondary.cmt17 %>
</p>

<p>
  <strong>Schoolfacilities:</strong>
  <%= @secondary.schoolfacilities %>
</p>

<p>
  <strong>Cmt18:</strong>
  <%= @secondary.cmt18 %>
</p>

<p>
  <strong>Schoolcafeteria:</strong>
  <%= @secondary.schoolcafeteria %>
</p>

<p>
  <strong>Cmt19:</strong>
  <%= @secondary.cmt19 %>
</p>

<p>
  <strong>Healthpromoting:</strong>
  <%= @secondary.healthpromoting %>
</p>

<p>
  <strong>Cmt20:</strong>
  <%= @secondary.cmt20 %>
</p>

<p>
  <strong>Walltexting:</strong>
  <%= @secondary.walltexting %>
</p>

<p>
  <strong>Cmt21:</strong>
  <%= @secondary.cmt21 %>
</p>

<p>
  <strong>Schoolactivities:</strong>
  <%= @secondary.schoolactivities %>
</p>

<p>
  <strong>Cmt22:</strong>
  <%= @secondary.cmt22 %>
</p>

<p>
  <strong>Islamicawareness:</strong>
  <%= @secondary.islamicawareness %>
</p>

<p>
  <strong>Cmt23:</strong>
  <%= @secondary.cmt23 %>
</p>

<p>
  <strong>Proceduralplan:</strong>
  <%= @secondary.proceduralplan %>
</p>

<p>
  <strong>Cmt24:</strong>
  <%= @secondary.cmt24 %>
</p>

<p>
  <strong>Proceduralsystemic:</strong>
  <%= @secondary.proceduralsystemic %>
</p>

<p>
  <strong>Cmt25:</strong>
  <%= @secondary.cmt25 %>
</p>

<p>
  <strong>Proceduralsystemic2:</strong>
  <%= @secondary.proceduralsystemic2 %>
</p>

<p>
  <strong>Cmt26:</strong>
  <%= @secondary.cmt26 %>
</p>

<p>
  <strong>Teacherinout:</strong>
  <%= @secondary.teacherinout %>
</p>

<p>
  <strong>Cmt27:</strong>
  <%= @secondary.cmt27 %>
</p>

<p>
  <strong>Waitingclasses:</strong>
  <%= @secondary.waitingclasses %>
</p>

<p>
  <strong>Cmt28:</strong>
  <%= @secondary.cmt28 %>
</p>

<p>
  <strong>Morningsupervision:</strong>
  <%= @secondary.morningsupervision %>
</p>

<p>
  <strong>Cmt29:</strong>
  <%= @secondary.cmt29 %>
</p>

<p>
  <strong>Schooltable:</strong>
  <%= @secondary.schooltable %>
</p>

<p>
  <strong>Cmt30:</strong>
  <%= @secondary.cmt30 %>
</p>

<p>
  <strong>Attendancepercentage:</strong>
  <%= @secondary.attendancepercentage %>
</p>

<p>
  <strong>Cmt31:</strong>
  <%= @secondary.cmt31 %>
</p>

<p>
  <strong>Writtenpreparation:</strong>
  <%= @secondary.writtenpreparation %>
</p>

<p>
  <strong>Cmt32:</strong>
  <%= @secondary.cmt32 %>
</p>

<p>
  <strong>Ratingrecords:</strong>
  <%= @secondary.ratingrecords %>
</p>

<p>
  <strong>Cmt33:</strong>
  <%= @secondary.cmt33 %>
</p>

<p>
  <strong>Activitiesbook:</strong>
  <%= @secondary.activitiesbook %>
</p>

<p>
  <strong>Cmt34:</strong>
  <%= @secondary.cmt34 %>
</p>

<p>
  <strong>Editorialbusiness:</strong>
  <%= @secondary.editorialbusiness %>
</p>

<p>
  <strong>Cmt35:</strong>
  <%= @secondary.cmt35 %>
</p>

<p>
  <strong>Visitingteachers:</strong>
  <%= @secondary.visitingteachers %>
</p>

<p>
  <strong>Cmt36:</strong>
  <%= @secondary.cmt36 %>
</p>

<p>
  <strong>Teachingaidsusage:</strong>
  <%= @secondary.teachingaidsusage %>
</p>

<p>
  <strong>Cmt37:</strong>
  <%= @secondary.cmt37 %>
</p>

<p>
  <strong>Commissionguidance:</strong>
  <%= @secondary.commissionguidance %>
</p>

<p>
  <strong>Cmt38:</strong>
  <%= @secondary.cmt38 %>
</p>

<p>
  <strong>Enrichmentprogram:</strong>
  <%= @secondary.enrichmentprogram %>
</p>

<p>
  <strong>Cmt39:</strong>
  <%= @secondary.cmt39 %>
</p>

<p>
  <strong>Schoolplan:</strong>
  <%= @secondary.schoolplan %>
</p>

<p>
  <strong>Cmt40:</strong>
  <%= @secondary.cmt40 %>
</p>

<p>
  <strong>Trainingprograms:</strong>
  <%= @secondary.trainingprograms %>
</p>

<p>
  <strong>Cmt41:</strong>
  <%= @secondary.cmt41 %>
</p>

<p>
  <strong>Techemploying:</strong>
  <%= @secondary.techemploying %>
</p>

<p>
  <strong>Cmt42:</strong>
  <%= @secondary.cmt42 %>
</p>

<p>
  <strong>Richmentprogramdev:</strong>
  <%= @secondary.richmentprogramdev %>
</p>

<p>
  <strong>Cmt43:</strong>
  <%= @secondary.cmt43 %>
</p>

<p>
  <strong>Teachingnewstrategy:</strong>
  <%= @secondary.teachingnewstrategy %>
</p>

<p>
  <strong>Cmt44:</strong>
  <%= @secondary.cmt44 %>
</p>

<p>
  <strong>Learningresource:</strong>
  <%= @secondary.learningresource %>
</p>

<p>
  <strong>Cmt45:</strong>
  <%= @secondary.cmt45 %>
</p>

<p>
  <strong>Headmasterpermission:</strong>
  <%= @secondary.headmasterpermission %>
</p>

<p>
  <strong>Cmt46:</strong>
  <%= @secondary.cmt46 %>
</p>

<p>
  <strong>Creativeapproaches:</strong>
  <%= @secondary.creativeapproaches %>
</p>

<p>
  <strong>Cmt47:</strong>
  <%= @secondary.cmt47 %>
</p>

<p>
  <strong>Schoolinitiative:</strong>
  <%= @secondary.schoolinitiative %>
</p>

<p>
  <strong>Cmt48:</strong>
  <%= @secondary.cmt48 %>
</p>

<p>
  <strong>Achievementfile:</strong>
  <%= @secondary.achievementfile %>
</p>

<p>
  <strong>Cmt49:</strong>
  <%= @secondary.cmt49 %>
</p>

<p>
  <strong>Examssystems:</strong>
  <%= @secondary.examssystems %>
</p>

<p>
  <strong>Cmt50:</strong>
  <%= @secondary.cmt50 %>
</p>

<p>
  <strong>Qeiyasschoollevel:</strong>
  <%= @secondary.qeiyasschoollevel %>
</p>

<p>
  <strong>Cmt51:</strong>
  <%= @secondary.cmt51 %>
</p>

<p>
  <strong>Cmt52:</strong>
  <%= @secondary.cmt52 %>
</p>

<p>
  <strong>Studentsinawards:</strong>
  <%= @secondary.studentsinawards %>
</p>

<p>
  <strong>Studentsoutawards:</strong>
  <%= @secondary.studentsoutawards %>
</p>

<p>
  <strong>Cmt53:</strong>
  <%= @secondary.cmt53 %>
</p>

<p>
  <strong>Safetycoordinator:</strong>
  <%= @secondary.safetycoordinator %>
</p>

<p>
  <strong>Cmt54:</strong>
  <%= @secondary.cmt54 %>
</p>

<p>
  <strong>Teachertraining:</strong>
  <%= @secondary.teachertraining %>
</p>

<p>
  <strong>Cmt55:</strong>
  <%= @secondary.cmt55 %>
</p>

<p>
  <strong>Buildingsafety:</strong>
  <%= @secondary.buildingsafety %>
</p>

<p>
  <strong>Cmt56:</strong>
  <%= @secondary.cmt56 %>
</p>

<p>
  <strong>Evacuationexperment:</strong>
  <%= @secondary.evacuationexperment %>
</p>

<p>
  <strong>Cmt57:</strong>
  <%= @secondary.cmt57 %>
</p>

<p>
  <strong>Fireextinguishers:</strong>
  <%= @secondary.fireextinguishers %>
</p>

<p>
  <strong>Cmt58:</strong>
  <%= @secondary.cmt58 %>
</p>

<p>
  <strong>Emergencyexit:</strong>
  <%= @secondary.emergencyexit %>
</p>

<p>
  <strong>Cmt59:</strong>
  <%= @secondary.cmt59 %>
</p>

<p>
  <strong>Alarm:</strong>
  <%= @secondary.alarm %>
</p>

<p>
  <strong>Cmt60:</strong>
  <%= @secondary.cmt60 %>
</p>

<p>
  <strong>Safetymethods:</strong>
  <%= @secondary.safetymethods %>
</p>

<p>
  <strong>Cmt61:</strong>
  <%= @secondary.cmt61 %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @secondary.sum %>
</p>

<%= link_to 'Edit', edit_secondary_path(@secondary) %> |
<%= link_to 'Back', secondaries_path %>
